.auth-form {
    position: fixed;
    top: 50%;
    left: 34%;
    transform: translate(-50%, -50%);
    background: rgb(190, 161, 124); 
    height: 14em;
    width: 30em;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .auth-form form {
    display: flex;
    flex-direction: column;
  }
  
  .auth-form input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .auth-form button {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background: #3a1e08;
    color: white;
    cursor: pointer;
  }
  
  .auth-form button:hover {
    background: #271406;
  }
  
  .toggle-auth-form-button {
    
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background: #3a1e08;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .toggle-auth-form-button:hover {
    background: #271406;
  }
  @media (max-width: 767px) {
    .auth-form {
      position: fixed;
      top: 50%;
      left: 50%;
      width: 18em;
      transform: translate(-50%, -50%);
      background: rgb(190, 161, 124); 
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      z-index: 1000;
    }
  }